/* Required for full background image */

html,
body,
header{
    height: 100%;
     font-family: "Karla", sans-serif;
}
body{
  background-color: black;
}
#intro{
   /* The image used */
  background-image: url("https://i.ibb.co/tJDL57b/Untitled-design-1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Download{
  /* The image used */
  background-image: url("https://i.ibb.co/N2vH7KD/i-Phone-11-Pro-Max-5-2.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 740px) {
    html,
    body,
    header,
    #intro, 
  #Download{
        height: 100vh;
    }
}
&__title {
    @include responsive-font-size(30px);
    margin: 0;
  }

.nav-item:active, .nav-item::after{
border-bottom: 4px solid #23E058 !important;
}

.top-nav-collapse, .page-footer {
    background-color:black !important;
}
.light{
  width: 20%; 
  height: 3px !important; 
  background-color: #23E058 !important;
  border-radius: 10px;
}
.navbar:not(.top-nav-collapse) {
    background: black !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: black !important;
    }
}

